html {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4
}

body {
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    margin: 0
}

strong {
    font-weight: bolder
}

small {
    font-size: 80%
}

button,input,select {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,select {
    text-transform: none
}

[type=button],button {
    -webkit-appearance: button
}

h1,h2,p {
    margin: 0
}

button {
    background-color: transparent;
    background-image: none
}

fieldset {
    margin: 0;
    padding: 0
}

html {
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    line-height: 1.5
}

body {
    font-family: inherit;
    line-height: inherit
}

*,:after,:before {
    border: 0 solid;
    box-sizing: border-box
}

img {
    border-style: solid
}

input::-moz-placeholder {
    color: #9ca3af;
    opacity: 1
}

input:-ms-input-placeholder {
    color: #9ca3af;
    opacity: 1
}

input::placeholder {
    color: #9ca3af;
    opacity: 1
}

button {
    cursor: pointer
}

h1,h2 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

button,input,select {
    color: inherit;
    line-height: inherit;
    padding: 0
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    vertical-align: middle
}

*,:after,:before {
    --tw-border-opacity: 1;
    border-color: rgba(229,231,235,var(--tw-border-opacity))
}

.m-3 {
    margin: .75rem
}

.m-auto {
    margin: auto
}

.mt-3 {
    margin-top: .75rem
}

.mb-3 {
    margin-bottom: .75rem
}

.ml-2 {
    margin-left: .5rem
}

.flex {
    display: flex
}

.min-h-screen {
    min-height: 100vh
}

.max-w-prose {
    max-width: 65ch
}

.flex-none {
    flex: none
}

.flex-grow {
    flex-grow: 1
}

@-webkit-keyframes spin {
    to {
        transform: rotate(1turn)
    }
}

@keyframes spin {
    to {
        transform: rotate(1turn)
    }
}

@-webkit-keyframes ping {
    75%,to {
        opacity: 0;
        transform: scale(2)
    }
}

@keyframes ping {
    75%,to {
        opacity: 0;
        transform: scale(2)
    }
}

@-webkit-keyframes pulse {
    50% {
        opacity: .5
    }
}

@keyframes pulse {
    50% {
        opacity: .5
    }
}

@-webkit-keyframes bounce {
    0%,to {
        -webkit-animation-timing-function: cubic-bezier(.8,0,1,1);
        animation-timing-function: cubic-bezier(.8,0,1,1);
        transform: translateY(-25%)
    }

    50% {
        -webkit-animation-timing-function: cubic-bezier(0,0,.2,1);
        animation-timing-function: cubic-bezier(0,0,.2,1);
        transform: none
    }
}

@keyframes bounce {
    0%,to {
        -webkit-animation-timing-function: cubic-bezier(.8,0,1,1);
        animation-timing-function: cubic-bezier(.8,0,1,1);
        transform: translateY(-25%)
    }

    50% {
        -webkit-animation-timing-function: cubic-bezier(0,0,.2,1);
        animation-timing-function: cubic-bezier(0,0,.2,1);
        transform: none
    }
}

.cursor-pointer {
    cursor: pointer
}

.flex-col {
    flex-direction: column
}

.items-center {
    align-items: center
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.space-y-3>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(.75rem*var(--tw-space-y-reverse));
    margin-top: calc(.75rem*(1 - var(--tw-space-y-reverse)))
}

.overflow-x-auto {
    overflow-x: auto
}

.rounded {
    border-radius: .25rem
}

.border {
    border-width: 1px
}

.border-blue-700 {
    --tw-border-opacity: 1;
    border-color: rgba(29,78,216,var(--tw-border-opacity))
}

.hover\:border-transparent:hover {
    border-color: transparent
}

@media (prefers-color-scheme: dark) {
    .dark\:border-blue-300 {
        --tw-border-opacity:1;
        border-color: rgba(147,197,253,var(--tw-border-opacity))
    }
}

.bg-transparent {
    background-color: transparent
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity))
}

.hover\:bg-blue-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(29,78,216,var(--tw-bg-opacity))
}

@media (prefers-color-scheme: dark) {
    .dark\:bg-gray-900 {
        --tw-bg-opacity:1;
        background-color: rgba(17,24,39,var(--tw-bg-opacity))
    }

    .dark\:hover\:bg-blue-300:hover {
        --tw-bg-opacity: 1;
        background-color: rgba(147,197,253,var(--tw-bg-opacity))
    }
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.py-1 {
    padding-bottom: .25rem;
    padding-top: .25rem
}

.text-center {
    text-align: center
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem
}

.font-bold {
    font-weight: 700
}

.italic {
    font-style: italic
}

.text-black {
    --tw-text-opacity: 1;
    color: rgba(0,0,0,var(--tw-text-opacity))
}

.text-blue-500 {
    --tw-text-opacity: 1;
    color: rgba(59,130,246,var(--tw-text-opacity))
}

.text-blue-700 {
    --tw-text-opacity: 1;
    color: rgba(29,78,216,var(--tw-text-opacity))
}

.text-pink-500 {
    --tw-text-opacity: 1;
    color: rgba(236,72,153,var(--tw-text-opacity))
}

.hover\:text-white:hover {
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity))
}

.hover\:text-blue-900:hover {
    --tw-text-opacity: 1;
    color: rgba(30,58,138,var(--tw-text-opacity))
}

@media (prefers-color-scheme: dark) {
    .dark\:text-white {
        --tw-text-opacity:1;
        color: rgba(255,255,255,var(--tw-text-opacity))
    }

    .dark\:text-blue-300 {
        --tw-text-opacity: 1;
        color: rgba(147,197,253,var(--tw-text-opacity))
    }

    .dark\:hover\:text-black:hover {
        --tw-text-opacity: 1;
        color: rgba(0,0,0,var(--tw-text-opacity))
    }

    .dark\:hover\:text-blue-100:hover {
        --tw-text-opacity: 1;
        color: rgba(219,234,254,var(--tw-text-opacity))
    }
}

.underline {
    text-decoration: underline
}

*,:after,:before {
    --tw-shadow: 0 0 #0000;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000
}

.diggerarea>div.dug {
    border: 2px solid green
}

.diggerarea>div:hover {
    border: 2px solid blue;
    cursor: pointer
}

.diggerarea>div {
    border: 2px solid gray;
    border-radius: .25rem
}

@media (min-width: 640px) {
    .sm\:mt-0 {
        margin-top:0
    }

    .sm\:mb-0 {
        margin-bottom: 0
    }

    .sm\:w-full {
        width: 100%
    }

    .sm\:flex-row {
        flex-direction: row
    }

    .sm\:justify-between {
        justify-content: space-between
    }

    .sm\:space-y-0>:not([hidden])~:not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-bottom: calc(0px*var(--tw-space-y-reverse));
        margin-top: calc(0px*(1 - var(--tw-space-y-reverse)))
    }

    .sm\:text-left {
        text-align: left
    }
}
